<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/nav.css' />
    <script src="/javascripts/teacher/navbar.js"></script>
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1990 12:00:00 GMT" />
</head>

<body>
    <div class="topnav">
        <a href="/dashboard">Home</a>
        <a href="/teacher-profile">Profile</a>
        <a href="/ranking">Ranking</a>
        <a href="/groups">Groups</a>
        <a class="right-button log-out" href="/logout">Log Out</a>
        <a class="right-button" href="/teacher-help">Help</a></li>
    </div>
    {{{body}}}
</body>

</html>