<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/nav.css">
    <script type="text/javascript" src="javascripts/main.js" async></script>
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active">About</a>
        <a href="contact">Contact</a>
        <h2>EFPAC's interactive platform</h2>
    </div>
    <div class="wrap-login">
        <h1>About us</h1>
        <div class="container">
            <h3>This is the English for Professional and Academic Communication's (EPAC)
                website that allows students to practice their listening comprehension
                skills in engineering areas of study. Interactive exercises provide
                instant feedback to help you improve your English skills on the spot.
                If you are interested, jump on to the <a href="student-login">login page</a> and start perfecting
                your English!
            </h3>
            <h3><a href="student-login">Sign up here if you don't yet have an account</a></h3>
        </div>
    </div>
</body>
<script> </script> {{!-- Avoids initial transition bug  --}}

</html>