<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/nav.css">
    <script type="text/javascript" src="javascripts/main.js" async></script>
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="about">About</a>
        <a class="active">Contact</a>
        <h2>EFPAC's interactive platform</h2>
    </div>
    <div class="wrap-login">
        <h1>Contact us</h1>
        <div class="container">
            <h2>JELENA BOBKINA</h2>
            <br>
            <h3>
                <p>
                    Despacho 5217 <br>
                    Departamento de Linguistica Aplicada a la Ciencia y Tecnología <br>
                    ETSI Informáticos <br>
                    Universidad Politécnica de Madrid <br>
                    c/Ciruelos, 2 <br> Boadilla del Monte, 28660 Madrid <br><br>
                    Teléfono: +34 910673052
                </p>

            </h3>
        </div>
    </div>
</body>
<script> </script> {{!-- Avoids initial transition bug  --}}

</html>