<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>

<body style="background-image: none !important;">
    <img src="/img/logoupm.png" class="center">
    <h1 class="title">Oops, the page you were searching for isn't available</h1>
    <div class="btn-center">
        <a href="/" class="btn2 btn3">Go Back</a>
    </div>
</body>
<script> </script>