<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/nav.css">
    <script type="text/javascript" src="javascripts/main.js" async></script>
</head>

<body>
    <div class="topnav">
        <a class="active">Home</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
        <h2>EFPAC's interactive platform</h2>
    </div>
    <img src="img/logoupm.png" class="center">
    <div class="wrap-login">
        <h1>Welcome to the English for Professional and Academic Communication's Extra Credit Page</h1>
        <div class="container">
            <h3>
                <a href="student-login" class="btn">Student</a>
                <a href="teacher-login" class="btn">Teacher</a>
            </h3>
        </div>
    </div>
</body>
<script> </script> {{!-- Avoids initial transition bug  --}}
</html>