<h1 class="title">Welcome to the Student's help page</h1>
<p>For help, simply write an email describing your problem (in Spanish, preferably) to one of your teachers with the
    subject: <b>"Ayuda - Web EFPAC de Actividades Extra"</b> and they will guide you along the process. Thank you for using our service!</p>