<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="/javascripts/student/signUp.js" defer></script>
    <title>{{title}}</title>
</head>

<body>
    <header>
        <a class="back btn" href="/">Go Back</a>
        <h1 style="display: inline-block;">Welcome to EFPAC's interactive platform</h1>
    </header>
    {{#if errors}}
    <section>
        <ul>
            {{#each errors}}
            <li>
                <h1 class="error">{{this.msg}}</h1>
            </li>
            {{/each}}
        </ul>
    </section>
    {{/if}}

    <section class="container">
        <form id="sign-up-form" class="student-form" action="/student-sign-up" method="POST" autocomplete="on">
            <h1 class="title">Student Sign Up</h1>
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" autocomplete="name" required>
            </div>
            <div>
                <label for="surname">Surname</label>
                <input type="text" id="surname" name="surname" autocomplete="family-name" required>
            </div>
            <div>
                <label for="studentID">Student ID</label>
                <input type="text" id="studentID" name="studentID" required>
            </div>
            <div>
                <label for="teacherID">Teacher ID</label>
                <input type="text" id="teacherID" name="teacherID" required>
            </div>
            <div>
                <label for="groupID">Group</label>
                <input type="text" id="groupID" name="groupID" required>
            </div>
            <div>
                <label for="email">Academic email</label>
                <input type="text" id="email" name="email" class="emailInput" required>
                <label for="email" class="appendEmail">@alumnos.upm.es</label>
            </div>
            <div>
                <label for="confirmEmail">Confirm your email</label>
                <input type="text" id="confirmEmail" name="confirmEmail" class="emailInput" required>
                <label for="confirmEmail" class="appendEmail">@alumnos.upm.es</label>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" oninput="validatePassword()"
                    autocomplete="new-password" required>
                <p class="passwordError" id="correctPassword">Password must contain 8 characters, one UPPER case letter,
                    one lower case and one number (0-9)</p>
            </div>
            <div>
                <label for="confirmPassword">Confirm your password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" oninput="checkConfirm()"
                    autocomplete="new-password" required>
                <p class="passwordError" id="validatePasswords"></p>
            </div>
            <div>
                <label style="display: inline !important;">Show passwords</label>
                <input type="checkbox" onclick="showPasswords()" class="inline">
            </div>
            <div>
                <label for="includeInRankings" style="display: inline !important;">Want to be included in
                    rankings?</label>
                <input type="checkbox" id="includeInRankings" name="includeInRankings" class="inline" checked>
            </div>
            <button type="submit" class="btn">Sign Up</button>
        </form>
    </section>
</body>

</html>